<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet">
</head>
<body>
<div class="page">
    <nav>
        <a th:href="@{'/'}">
            <img src="/images/cart.png" alt="Logo">
        </a>
        <div class="nav-buttons" th:if="${session.user != null}">
            <a th:href="@{'/products'}">Products</a>
            <a th:unless="${session.user.hasAdminRole()}" th:href="@{'/orders'}">Orders</a>
            <a th:unless="${session.user.hasAdminRole()}" th:href="@{'/cart'}">Cart</a>
            <a th:if="${session.user.hasAdminRole()}" th:href="@{'/admin'}">Panel</a>
            <a th:href="@{'/auth/logout'}">Logout</a>
        </div>
        <div class="nav-buttons" th:if="${session.user == null}">
            <a th:href="@{'/auth/login'}">Login</a>
            <a th:href="@{'/auth/signup'}">Signup</a>
        </div>
    </nav>
    <div>
        <h1>Welcome to our shop!</h1>
    </div>
</div>
</body>
</html>
